
body {
  font-family: arial, sans-serif;
  background-image: url("/src/images/cloudy.jpeg"),
    linear-gradient(
      to bottom,
      rgb(99, 248, 228),
      rgb(245, 245, 179),
      rgb(249, 204, 120)
    );
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
  color: #f53071;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1b5aac;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.where {
  margin-bottom: 20px;
}
